<%
function shuffle(array) {
  let counter = array.l || array.length;

  // While there are elements in the array
  while (counter > 0) {
    // Pick a random index
    let index = (Math.random() * counter) | 0; // http://bit.ly/2LhrEt2

    // Decrease counter by 1
    counter--;

    // And swap the last element with it
    let temp = array[counter];
    array[counter] = array[index];
    array[index] = temp;
  }

  return array;
} // http://bit.ly/2uGCIFr
%>
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= partDesc[part] %> - ค่ายเส้นทางสู่หมอศิริราชครั้งที่ 20</title>
    <link rel="stylesheet" href="/normal-bundle.css">
    <%- include('../css.ejs') %>
  </head>
  <body>
    <% if (alertType != 'none') { %>
      <div style="display:none;" id="alert" alert-type="<%= alertType %>"><%= alert %></div>
    <% } %>
    <img src="https://storage.googleapis.com/simc-20.appspot.com/public/web/hd_png.png" width="100%" style="margin-bottom: 0; z-index: 1; position: relative">
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <%
          if(part != 1) {
        %>
        <li class="page-item">
          <a class="page-link" href="/exam?part=<%= part-1 %>" aria-label="Previous">
            <span aria-hidden="true"><i class="fas fa-angle-double-left"></i></span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <%
          }
        %>
        <li class="page-item <%= part == 1 ? 'active' : ''%>"><a class="page-link" href="<%= part == 1 ? '#' : '/exam?part=1'%>">1</a></li>
        <li class="page-item <%= part == 2 ? 'active' : ''%>"><a class="page-link" href="<%= part == 2 ? '#' : '/exam?part=2'%>">2</a></li>
        <li class="page-item <%= part == 3 ? 'active' : ''%>"><a class="page-link" href="<%= part == 3 ? '#' : '/exam?part=3'%>">3</a></li>
        <li class="page-item <%= part == 4 ? 'active' : ''%>"><a class="page-link" href="<%= part == 4 ? '#' : '/exam?part=4'%>">4</a></li>
        <li class="page-item <%= part == 5 ? 'active' : ''%>"><a class="page-link" href="<%= part == 5 ? '#' : '/exam?part=5'%>">5</a></li>
        <%
          if(part != 5) {
        %>
        <li class="page-item">
          <a class="page-link" href="/exam?part=<%= part+1 %>" aria-label="Next">
            <span aria-hidden="true"><i class="fas fa-angle-double-right"></i></span>
            <span class="sr-only">Next</span>
          </a>
        </li>
        <%
          }
        %>
      </ul>
    </nav>
    <div class="container">
      <form method="post" action="/exam" enctype="multipart/form-data">
        <h3 style="text-align: center;">- 0<%= part %> -<br><%= partDesc[part] %></h3>
        <br>
        <br>
        <input type="text" class="form-control" style="display:none;" name="part" value="<%= part %>">
        <%
          let noshuf = [[], [], [], [], [], []];
          noshuf[2][6] = true;
          noshuf[2][3] = true;
          noshuf[2][12] = true;
          exam.forEach(e => {
            if(e.part != part) return ;
        %>
          <div class="card <%= e.answerType %>" id="div_<%= e.num %>">
            <div class="card-header">
              <%= e.num %>. <%- e.question %>
            </div>
            <div class="card-body">
              <%
                // choice
                if(e.answerType == 'choice') {
                  let sub = e.subQuestion.split('\n');
                  sub.forEach((choice, i, arr) => {
                    arr[i] = new String(arr[i]);
                    arr[i].real = i + 1;
                  });
                  if(noshuf[part][e.num]) sub.l = sub.length-1;
                  shuffle(sub).forEach(choice => {
                    let choicename = e.num + '_' + choice.real;
              %>       
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="<%= e.num %>" id="<%= choicename %>" value="<%= choice.real %>">
                  <label class="form-check-label" for="<%= choicename %>" style="width: 100%;">
                    <%- choice %>
                  </label>
                </div>
              <%
                  });
                } 
                // essay
                else if(e.answerType == 'essay') {
              %>
                <textarea class="form-control" id="<%= e.num %>" name="<%= e.num %>" rows="<%= e.subQuestion || 3 %>"></textarea>
                <!-- <input type="text" class="form-control" name="<%= e.num %>" id="<%= e.num %>" placeholder="เขียนคำตอบที่นี่"> -->
              <%
                }
                // upload
                else if(e.answerType == 'upload') {
              %>
                <div class="form-group">
                  <label for="<%= e.num %>">Upload file for No. <%= e.num %></label>
                  <input type="file" class="form-control-file" id="<%= e.num %>" name="<%= e.num %>">
                  <img style="display: none; max-width: 480px;" id="p<%= e.num %>" src="#" alt="Saved image for no. <%= e.num %>" width="100%" />
                </div>
              <%
                }
              %>
            </div>
          </div>
          <br>
        <% }); %>
        <button type="submit" class="btn btn-primary">บันทึกคำตอบ (สามารถกลับมาแก้ไขได้)</button>
      </form>
      <br>
    </div>
    <%- include('../footer.ejs'); %>
    <script src="/normal-bundle.js"></script>
    <script>
      function readURL(input, el) {

        if (input.files && input.files[0]) {
          var reader = new FileReader();

          reader.onload = function(e) {
            el.attr('src', e.target.result);
            el.css('display', '');
          }

          reader.readAsDataURL(input.files[0]);
        }
      };
      <%
        exam.forEach(e => {
          if(e.answerType != 'upload') return ;
      %>
          $("#<%= e.num %>").change(function() {
            readURL(this, $('#p<%= e.num %>'));
          });
      <%
        });
        oldAnswer.forEach(e => {
          if(e.part != part) return ;
          if(e.answerType == 'choice') { // choice
      %>
      $('#<%= e.num %>_<%= e.ans %>').attr('checked', '');
      <%
          }
          else if(e.answerType == 'essay') { // essay
      %>
          $('#<%= e.num %>').html('<%= e.ans.replace(/\r\n/g, "\\n") %>');
      <%
          }
          else if(e.answerType == 'upload') {
      %>
      $('#p' + <%= e.num %>)
        .attr('src', 'https://storage.googleapis.com/simc-20.appspot.com/' + '<%= e.ans %>')
        .css('display', '');
      <%
          }
        });
      %>
      <%
        files.forEach(file => {
          if(file.name.slice(-1)[0] != '/') {
      %>
            $('#div_<%= file.name.split("/").slice(-1)[0] %> .card-header').append('<br><img style="width: 100%;" align="middle" src="https://storage.googleapis.com/simc-20.appspot.com/<%= file.name %>">');
      <%
          }
        });
      %>
    </script>
  </body>
</html>
