<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= partDesc[part] %> - ค่ายเส้นทางสู่หมอศิริราชครั้งที่ 21</title>
    <link rel="stylesheet" href="/normal-bundle.css">
    <%- include('../includes/css.ejs') %>
    <style>
      <%
        for (let i = 1; i <= exam.length; i++) {
      %>
        form .card:nth-of-type(<%= i %>) .card-header::before {
          content: '<%= i %>. ';
          vertical-align: top;
          position: relative;
          left: -8px;
          margin-right: -5px;
        }
      <% } %>
    </style>
  </head>
  <body>
    <img src="https://storage.googleapis.com/simc-web.appspot.com/public/web/cover.png" width="100%" style="margin-bottom: 20px;">
    <%- include('../includes/pagenav.ejs') %>
    <div class="container">
      <form method="post" action="/exam" enctype="multipart/form-data">
        <h3 style="text-align: center;">- 0<%= part %> -<br><%= partDesc[part] %></h3>
        <br>
        <br>
        <input type="text" class="form-control" style="display:none;" name="part" value="<%= part %>">
        <%
          if (part == 3) {
        %>
            <p>ข้อ 1-5 เติมคำตอบอย่างสั้น ไม่ต้องอธิบายละเอียด</p>
        <% } %>
        <%
          let noshuf = [[], [], [], [], [], [], []];
          // noshuf[2][6] = 1;
          // noshuf[2][3] = 1;
          // noshuf[2][12] = 1;
          
          exam.forEach(e => {
            e.num = e.get('num');
            e.question = e.get('question');
            e.answerType = e.get('answerType');
            e.subQuestion = e.get('subQuestion');
            if (e.get('part') != part) return ;
        %>
          <div class="card <%= e.answerType %>" id="div_<%= e.num %>">
            <div class="card-header" style="white-space: nowrap;"><span style="display: inline-block;"><div style="white-space: normal;"><%- e.question %></div></span></div>
            <div class="card-body">
              <%
                // choice
                if (e.answerType == 'radio') {
                  let sub = e.subQuestion.split('\n');
                  sub.forEach((choice, i, arr) => {
                    arr[i] = new String(arr[i]);
                    arr[i].real = i + 1;
                  });

                  shuffle(sub, sub.length - noshuf[part][e.num]).forEach(choice => {
                    let choicename = e.num + '_' + choice.real;
              %>       
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="<%= e.num %>" id="<%= choicename %>" value="<%= choice.real %>">
                  <label class="form-check-label" for="<%= choicename %>" style="width: 100%;"><%- choice %></label>
                </div>
              <%
                  });
                } 
                // essay
                else if (e.answerType == 'textarea') {
              %>
                <textarea class="form-control" id="<%= e.num %>" name="<%= e.num %>" rows="<%= e.subQuestion || 3 %>"></textarea>
              <%
                }
                // upload
                else if (e.answerType == 'upload') {
              %>
                <div class="form-group">
                  <label for="<%= e.num %>">Upload file for No. <%= e.num %></label>
                  <input type="file" class="form-control-file" id="<%= e.num %>" name="<%= e.num %>">
                  <img style="display: none; max-width: 480px;" id="p<%= e.num %>" src="#" alt="Saved image for no. <%= e.num %>" width="100%" />
                </div>
              <%
                }
              %>
            </div>
          </div>
          <br>
        <% }); %>
        <button type="submit" class="btn btn-primary">บันทึกคำตอบ (สามารถกลับมาแก้ไขได้)</button>
      </form>
      <br>
    </div>
    <%- include('../includes/footer.ejs'); %>
    <script src="/normal-bundle.js"></script>
    <script>
      function readURL(input, el) {

        if (input.files && input.files[0]) {
          var reader = new FileReader();

          reader.onload = function(e) {
            el.attr('src', e.target.result);
            el.css('display', '');
          }

          reader.readAsDataURL(input.files[0]);
        }
      };
      <%
        exam.forEach(e => {
          if(e.answerType != 'upload') return ;
      %>
          $("#<%= e.num %>").change(function() {
            readURL(this, $('#p<%= e.num %>'));
          });
      <%
        });
        oldAnswer.forEach(e => {
          e.part = e.get('part');
          e.answerType = e.get('answerType');
          e.num = e.get('num');
          e.ans = e.get('ans');
          if(e.part != part) return ;
          if(e.answerType == 'radio') { // choice
      %>
      $('#<%= e.num %>_<%= e.ans %>').attr('checked', '');
      <%
          }
          else if(e.answerType == 'textarea') { // essay
      %>
          $('#<%= e.num %>').html('<%= e.ans.replace(/\r\n/g, "\\n") %>');
      <%
          }
          else if(e.answerType == 'upload') {
      %>
      $('#p' + <%= e.num %>)
        .attr('src', 'https://storage.googleapis.com/simc-web.appspot.com/' + '<%= e.ans %>')
        .css('display', '');
      <%
          }
        });
      %>
      <%
        files.forEach(file => {
          if(file.name.slice(-1)[0] != '/') {
      %>
            $('#div_<%= file.name.split(".")[0].split("/").slice(-1)[0] %> .card-header').append('<br><img style="max-width: 100%;" align="middle" src="https://storage.googleapis.com/simc-web.appspot.com/<%= file.name %>">');
      <%
          }
        });
      %>
    </script>
    <script type="text/javascript" defer>
      window.onload = function() {
        Swal.mixin({
          confirmButtonText: 'OK',
        }).queue([
        <% if (alert.error) alert.error.forEach((e) => { %>
          {type: 'error', title: '<%= e %>'},
        <% }); 
        if (alert.success) alert.success.forEach((e) => { %>
          {type: 'success', title: '<%= e %>'},
        <% }); %>
        ]);
      }; // https://stackoverflow.com/a/807895/4468834
    </script>
  </body>
</html>
