<%
  let radio = new Set([1, 31]);
  let check = new Set([3, 32, 33, 34, 35, 36, 40, 41, 42, 43, 45, 47, 49, 51, 52, 54, 55, ]);
  let text = new Set([2, 4, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 37, 38, 39, 44, 46, 48, 50, 53, 56, 57, 58, 59, 60]);
  let select = new Set([5, 27, ]);
  let date = new Set([10]);
  let textarea = new Set([19]);
%>
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile - ค่ายเส้นทางสู่หมอศิริราชครั้งที่ 20</title>
    <link rel="stylesheet" href="/profile-bundle.css">
    <%- include('../css.ejs') %>
    <style>
    </style>
  </head>
  <body>
    <img src="images/hd_png.png" width="100%" style="margin-bottom: 0; z-index: 1; position: relative">
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="/exam?part=2">2</a></li>
        <li class="page-item"><a class="page-link" href="/exam?part=3">3</a></li>
        <li class="page-item"><a class="page-link" href="/exam?part=4">4</a></li>
        <li class="page-item"><a class="page-link" href="/exam?part=5">5</a></li>
        <li class="page-item">
          <a class="page-link" href="/exam?part=2" aria-label="Next">
            <span aria-hidden="true"><i class="fas fa-angle-double-right"></i></span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="container">
      <form method="post" action="/exam" enctype="multipart/form-data">
        <h3 style="text-align: center;">- 01 -<br>Profile</h3>
        <input type="text" class="form-control" style="display:none;" name="part" value="1">
        <div class="form-row">
          <label>เคยเข้าร่วมค่ายเส้นทางสู่หมอศิริราชมาก่อนหรือไม่</label>
        </div>
        <div class="form-row">
          <div class="form-check form-check-inline col-6 col-md-4 col-lg-3">
            <input class="form-check-input" type="radio" id="radio1" name="1" value="เคย">
            <label class="form-check-label" for="radio1">
              เคย ครั้งที่ 
            </label>
            <div class="col">
              <input type="text" class="form-control" name="2">
            </div>
          </div>
          <div class="form-check form-check-inline col">
            <input class="form-check-input" type="radio" id="radio2" name="1" value="ไม่เคย">
            <label class="form-check-label" for="radio2">
              ไม่เคย
            </label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-check form-check-inline col">
            <input class="form-check-input" type="checkbox" id="check1" name="3">
            <label class="form-check-label" for="check1">
              เคยเข้าค่ายแนะนำคณะแพทยศาสตร์สถาบันอื่น คือ
            </label>
            <div class="col-6 col-sm-8 col-md-5 col-lg-7">
              <input type="text" class="form-control col-12" name="4">
            </div>
          </div>
        </div>
        <div class="form-row">
          <label><b><u>ประวัติส่วนตัว</u></b></label>
        </div>
        <div class="form-row">
          <div class="form-group col-12 col-sm-6 form-row">
            <label for="in1" class="col-1 col-sm-2 col-lg-1 col-form-label">ชื่อ</label>
            <select class="form-control col-3 col-sm-4 col-md-3 col-xl-2" name="5">
              <option disabled selected value="0">คำนำหน้า</option> <!-- http://bit.ly/2mRVBRD -->
              <option value="ด.ช.">ด.ช.</option>
              <option value="ด.ญ.">ด.ญ.</option>
              <option value="นาย">นาย</option>
              <option value="นางสาว">นางสาว</option>
            </select>
            <div class="col">
              <input type="text" class="form-control" id="in1" name="6">
            </div>
          </div>
          <div class="form-group col-12 col-sm-6 form-row">
            <label for="in2" class="col-3 col-sm-4 col-md-3 col-lg-2 col-xl-2 col-form-label">นามสกุล</label>
            <div class="col">
              <input type="text" class="form-control" id="in2" name="7">
            </div>
          </div>
        </div>
        <div class="form-row form-group">
          <div class="form-group col-12 col-sm-4 col-md-3 col-xl-2 form-row">
            <label for="in3" class="col-3 col-sm-5 col-md-4 col-xl-4 col-form-label">ชื่อเล่น</label>
            <div class="col">
              <input type="text" class="form-control" id="in3" name="8">
            </div>
          </div>
          <div class="form-group col form-row">
            <label for="in4" class="col-4 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-form-label">เลขประจำตัวประชาชน</label>
            <div class="col col-md-4 col-lg-3">
              <input type="text" class="form-control" id="in4" name="9">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-8 col-md-5 col-lg-4 col-xl-3 form-row form-group">
            <label for="in5" class="col-3 col-form-label">วันเกิด</label>
            <div class="col">
              <input type="date" class="form-control" id="in5" name="10">
            </div>
          </div>
          <div class="col col-md-4 col-lg-2 form-row form-group">
            <label for="in6" class="col-4 col-sm-3 col-md-3 col-lg-3 col-form-label">อายุ</label>
            <div class="col">
              <input type="number" class="form-control" id="in6" min="1" name="11">
            </div>
            <label for="in6" class="col-3 col-md-4 col-lg-3 col-form-label">ปี</label>
          </div>
        </div>
        <div class="form-row form-group">
          <label for="in7" class="col-2 col-lg-1 col-form-label">สัญชาติ</label>
          <div class="col col-lg-1">
            <input type="text" class="form-control" id="in7" name="12">
          </div>
          <label for="in8" class="col-2 col-lg-1 col-form-label">เชื้อชาติ</label>
          <div class="col col-lg-1">
            <input type="text" class="form-control" id="in8" name="13">
          </div>
          <label for="in9" class="col-2 col-lg-1 col-form-label">ศาสนา</label>
          <div class="col col-lg-1">
            <input type="text" class="form-control" id="in9" name="14">
          </div>
        </div>
        <div class="form-row form-group">
          <label for="in10" class="col-3 col-xl-2 col-form-label">ปัจจุบันศึกษาอยู่โรงเรียน</label>
          <div class="col-4 col-md-5 col-xl-6">
            <input type="text" class="form-control" id="in10" name="15">
          </div>
          <label for="in11" class="col-2 col-md-1 col-form-label">จังหวัด</label>
          <div class="col">
            <input type="text" class="form-control" id="in11" name="16">
          </div>
        </div>
        <div class="form-row form-group">
          <label for="in12" class="col-4 col-sm-4 col-md-3 col-xl-2 col-form-label">ระดับชั้นมัธยมศึกษาปีที่</label>
          <div class="col-2">
            <input type="number" class="form-control" id="in12" min="1" max="6" name="17">
          </div>
          <label for="in13" class="col-4 col-sm-3 col-md-2 col-form-label">เกรดเฉลี่ยสะสม</label>
          <div class="col-2 col-md-2">
            <input type="text" class="form-control" id="in13" name="18">
          </div>
        </div>
        <div class="form-group">
          <label for="in14" class="col-form-label">ที่อยู่ปัจจุบัน (ที่สามารถติดต่อได้)</label>
          <textarea class="form-control" id="in14" rows="3" name="19"></textarea>
        </div>
        <div class="form-row form-group">
          <div class="form-group col-12 col-sm-6 form-row">
            <label for="in15" class="col-5 col-sm-6 col-md-5 col-lg-4 col-form-label">เบอร์โทรศัพท์บ้าน</label>
            <div class="col">
              <input type="text" class="form-control" id="in15" name="20">
            </div>
          </div>
          <div class="form-group col form-row">
            <label for="in16" class="col-5 col-sm-6 col-md-5 col-lg-4 col-form-label">เบอร์โทรศัพท์มือถือ</label>
            <div class="col">
              <input type="text" class="form-control" id="in16" name="21">
            </div>
          </div>
        </div>
        <div class="form-row form-group">
          <div class="form-group col-12 col-sm-6 form-row">
            <label for="in17" class="col-3 col-sm-4 col-lg-3 col-form-label">Facebook</label>
            <div class="col">
              <input type="text" class="form-control" id="in17" name="22">
            </div>
          </div>
          <div class="form-group col form-row">
            <label for="in18" class="col-3 col-sm-3 col-lg-2 col-form-label">Email</label>
            <div class="col">
              <input type="email" class="form-control" id="in18" name="23">
            </div>
          </div>
        </div>
        <div class="form-row form-group">
          <div class="form-group col-12 col-sm-6 form-row">
            <label for="in19" class="col-4 col-sm-5 col-md-4 col-lg-3 col-form-label">โรคประจำตัว</label>
            <div class="col">
              <input type="text" class="form-control" id="in19" name="24">
            </div>
          </div>
          <div class="form-group col form-row">
            <label for="in20" class="col-4 col-sm-5 col-md-4 col-lg-3 col-form-label">ยาที่ใช้ประจำ</label>
            <div class="col">
              <input type="text" class="form-control" id="in20" name="25">
            </div>
          </div>
        </div>
        <div class="form-row form-group">
          <div class="form-group col form-row">
            <label for="in21" class="col-2 col-md-1 col-form-label">แพ้ยา</label>
            <div class="col">
              <input type="text" class="form-control" id="in21" name="26">
            </div>
          </div>
        </div>
        <div class="form-row form-group">
          <div class="form-group col-12 col-sm-8 col-lg-9 form-row">
            <label for="in22" class="col-3 col-sm-3 col-md-2 col-lg-2 col-form-label">ผู้ปกครอง</label>
            <select class="form-control col-3 col-md-3 col-lg-2" name="27">
              <option disabled selected value="0">คำนำหน้า</option> <!-- http://bit.ly/2mRVBRD -->
              <option value="1">นาย</option>
              <option value="2">นาง</option>
              <option value="3">นางสาว</option>
            </select>
            <div class="col">
              <input type="text" class="form-control" id="in22" name="28">
            </div>
          </div>
          <div class="form-group col form-row">
            <label for="in23" class="col-4 col-sm-7 col-md-5 col-lg-5 col-form-label">เกี่ยวข้องเป็น</label>
            <div class="col">
              <input type="text" class="form-control" id="in23" name="29">
            </div>
          </div>
        </div>
        <div class="form-row form-group">
          <div class="form-group col-12 col-sm-9 col-md-8 form-row">
            <label for="in24" class="col-5 col-sm-6 col-md-5 col-lg-4 col-xl-3 col-form-label">เบอร์โทรศัพท์ผู้ปกครอง</label>
            <div class="col col-md-6">
              <input type="text" class="form-control" id="in24" name="30">
            </div>
          </div>
        </div>
        <div class="form-row">
          <label>Size เสื้อ (รอบอก)</label>
        </div>
        <div class="form-row form-group">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="radio3" name="31" value="S (32 นิ้ว)">
            <label class="form-check-label" for="radio3">S (32 นิ้ว)</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="radio4" name="31" value="M (36 นิ้ว)">
            <label class="form-check-label" for="radio4">M (36 นิ้ว)</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="radio5" name="31" value="L (40 นิ้ว)">
            <label class="form-check-label" for="radio5">L (40 นิ้ว)</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="radio6" name="31" value="XL (44 นิ้ว)">
            <label class="form-check-label" for="radio6">XL (44 นิ้ว)</label>
          </div>
        </div>
        <div class="form-row">
          <label><b>ประเภทของอาหารที่รับประทาน</b></label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="check2" name="32">
          <label class="form-check-label" for="check2">
            ไม่มีอาหารที่แพ้ (รับประทานอาหารได้ทุกชนิด)
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="check3" name="33">
          <label class="form-check-label" for="check3">
            อาหารเจ (ไม่รับประทานเนื้อสัตว์และผลิตภัณฑ์จากไข่และนมวัว)
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="check4" name="34">
          <label class="form-check-label" for="check4">
            อาหารมังสวิรัติ (ไม่รับประทานเนื้อสัตว์ สามารถทานผลิตภัณฑ์จากไข่และนมวัว)
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="check5" name="35">
          <label class="form-check-label" for="check5">
            อาหารมุสลิม (ไม่รับประทานเนื้อหมู)
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="check6" name="36">
          <label class="form-check-label" for="check6">
            มีอาหารที่แพ้
          </label>
        </div>
        <div class="form-group form-row">
          <div class="col-1"></div>
          <div class="col form-row">
            <label for="in25" class="col-4 col-sm-4 col-md-5 col-lg-4 col-xl-3 col-form-label">อาหารที่แพ้ (เช่น อาหารทะเล ถั่ว)</label>
            <div class="col">
              <input type="text" class="form-control" id="in25" name="37">
            </div>
          </div>
        </div>
        <div class="form-group form-row">
          <div class="col-1"></div>
          <div class="col form-row">
            <label for="in26" class="col-4 col-sm-4 col-md-5 col-lg-4 col-xl-3 col-form-label">อาหารที่รับประทานไม่ได้ (เช่น หมู เนื้อวัว อาหารเผ็ด)</label>
            <div class="col">
              <input type="text" class="form-control" id="in26" name="38">
            </div>
          </div>
        </div>
        <div class="form-group form-row">
          <div class="col-1"></div>
          <div class="col form-row">
            <label for="in27" class="col-4 col-sm-4 col-md-5 col-lg-4 col-xl-3 col-form-label">ข้อยกเว้นอื่น ๆ เกี่ยวกับอาหาร</label>
            <div class="col">
              <input type="text" class="form-control" id="in27" name="39">
            </div>
          </div>
        </div>
        <div class="form-row">
          <label><b>ทราบข่าวโครงการค่ายเส้นทางสู่หมอศิริราชครั้งที่ 20 จากแหล่งใด</b> (ตอบได้มากกว่า 1 ข้อ)</label>
        </div>
        <div class="form-row">
          <div class="form-check form-check-inline col-12 col-md-6 form-group">
            <input class="form-check-input" type="checkbox" id="check7" name="40">
            <label class="form-check-label" for="check7">
              เอกสารประชาสัมพันธ์ที่แจกที่โรงเรียน
            </label>
          </div>
          <div class="form-check form-check-inline col-12 col-md form-group">
            <input class="form-check-input" type="checkbox" id="check8" name="41">
            <label class="form-check-label" for="check8">
              บอร์ดประชาสัมพันธ์ภายในโรงเรียน
            </label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-check form-check-inline col-12 col-md-6 form-group">
            <input class="form-check-input" type="checkbox" id="check9" name="42">
            <label class="form-check-label" for="check9">
              Roadshow ที่โรงเรียน
            </label>
          </div>
          <div class="form-check form-check-inline col-12 col-md form-group">
            <input class="form-check-input" type="checkbox" id="check10" name="43">
            <label class="form-check-label" for="check10">
              โรงเรียนกวดวิชา
            </label>
            <div class="col">
              <input type="text" class="form-control" name="44">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-check form-check-inline col-12 col-md-6 form-group">
            <input class="form-check-input" type="checkbox" id="check11" name="45">
            <label class="form-check-label" for="check11">
              โทรทัศน์
            </label>
            <div class="col">
              <input type="text" class="form-control" name="46">
            </div>
          </div>
          <div class="form-check form-check-inline col-12 col-md form-group">
            <input class="form-check-input" type="checkbox" id="check12" name="47">
            <label class="form-check-label" for="check12">
              วิทยุ
            </label>
            <div class="col">
              <input type="text" class="form-control" name="48">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-check form-check-inline col-12 col-md-6 form-group">
            <input class="form-check-input" type="checkbox" id="check13" name="49">
            <label class="form-check-label" for="check13">
              หนังสือพิมพ์
            </label>
            <div class="col">
              <input type="text" class="form-control" name="50">
            </div>
          </div>
          <div class="form-check form-check-inline col-12 col-md form-group">
            <input class="form-check-input" type="checkbox" id="check14" name="51">
            <label class="form-check-label" for="check14">
              Facebook ค่ายเส้นทางสู่หมอศิริราชครั้งที่ 20
            </label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-check form-check-inline col-12 col-md-6 form-group">
            <input class="form-check-input" type="checkbox" id="check15" name="52">
            <label class="form-check-label" for="check15">
              Website
            </label>
            <div class="col">
              <input type="text" class="form-control" name="53">
            </div>
          </div>
          <div class="form-check form-check-inline col-12 col-md form-group">
            <input class="form-check-input" type="checkbox" id="check16" name="54">
            <label class="form-check-label" for="check16">
              ผู้ปกครอง / รุ่นพี่ / เพื่อน
            </label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-check form-check-inline col-12 col-md-6 form-group">
            <input class="form-check-input" type="checkbox" id="check17" name="55">
            <label class="form-check-label" for="check17">
              อื่น ๆ
            </label>
            <div class="col">
              <input type="text" class="form-control" name="56">
            </div>
          </div>
        </div>
        <div class="form-row">
          <label><b>คณะและมหาวิทยาลัยที่น้องจะเลือกศึกษาต่อในระดับอุดมศึกษา</b></label>
        </div>
        <div class="form-group row">
          <label for="in28" class="col-1 col-form-label">1. </label>
          <div class="col">
            <input type="text" class="form-control" id="in28" name="57">
          </div>
        </div>
        <div class="form-group row">
          <label for="in29" class="col-1 col-form-label">2. </label>
          <div class="col">
            <input type="text" class="form-control" id="in29" name="58">
          </div>
        </div>
        <div class="form-group row">
          <label for="in30" class="col-1 col-form-label">3. </label>
          <div class="col">
            <input type="text" class="form-control" id="in30" name="59">
          </div>
        </div>
        <div class="form-group row">
          <label for="in31" class="col-1 col-form-label">4. </label>
          <div class="col">
            <input type="text" class="form-control" id="in31" name="60">
          </div>
        </div>
        <div class="form-group row">
          <label>อัพโหลดไฟล์ใบอนุญาต <a href="https://drive.google.com/open?id=1He6MSobdfhgaj7rN-w23WFVjXzhItXDY">download</a></label>
          <input type="file" class="form-control-file" name="61">
        </div>
        <div class="form-group row">
          <label>อัพโหลดไฟล์ ปพ</label>
          <input type="file" class="form-control-file" name="62">
        </div>
        <button type="submit" class="btn btn-primary">บันทึกข้อมูล (สามารถกลับมาแก้ไขได้)</button>
      </form>
      <br>
    </div>
    <%- include('../footer.ejs'); %>
    <script src="/profile-bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/he/1.1.1/he.min.js" integrity="sha256-MK0aAxCgZEEnAT1M6Sb/t2x+LINmw/RJjkgAxMAWOeU=" crossorigin="anonymous"></script>
    <script type="text/javascript">
      /* function decodeHTML(html) {
        var txt = document.createElement("textarea");
        txt.innerHTML = html;
        return txt.value;
      } */
      <%
        oldAnswer.forEach(e => {
          if(e.part != part) return ;
          if(text.has(e.num) || date.has(e.num)) { // text and date
      %>
      $('*[name=<%= e.num %>]').attr('value', he.decode('<%= e.ans %>'));
      <%
          }
          else if(textarea.has(e.num)) { // textarea
      %>
      $('*[name=<%= e.num %>]').html('<%= e.ans %>');
      <%
          }
          else if(radio.has(e.num)) { // radio
      %>
      $('*[name=<%= e.num %>][value="<%= e.ans %>"]').prop('checked', true).trigger('change');
      <%
          }
          else if(check.has(e.num) && e.ans == 'on') { // check
      %>
      $('*[name=<%= e.num %>]').prop('checked', true).trigger('change');
      <%
          }
          else if(select.has(e.num)) { // select
      %>
      $('*[name=<%= e.num %>] option[value="<%= e.ans %>"]').prop('selected', true);
      <%
          }
        });
      %>
    </script>
  </body>