<%
  let ex = [], cnt = 0;
  exam.forEach(e => {
    e.part = e.get('part');
    e.num = e.get('num');
    if (e.part == 3 || e.part == 1) return ;
    if (!ex[e.part]) ex[e.part] = [];
    ex[e.part][e.num] = true;
    cnt++;
  });
  oldAnswer.forEach(e => {
    e.part = e.get('part');
    e.num = e.get('num');
    e.ans = e.get('ans');
    if (e.part == 3 || e.part == 1) return ;
    if (e.ans) {
      delete ex[e.part][e.num];
      cnt--;
    }
  });
  if (!user.get('endTime')) {
    ex[3] = ['(ยังไม่ได้ทำข้อสอบชุดนี้)'];
    cnt++;
  }
%>
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ทบทวนก่อนส่ง - ค่ายเส้นทางสู่หมอศิริราชครั้งที่ 20</title>
    <link rel="stylesheet" href="/normal-bundle.css">
    <%- include('../includes/css.ejs') %>
  </head>
  <body>
    <img src="https://storage.googleapis.com/simc-web.appspot.com/public/web/hd_png.png" width="100%" style="margin-bottom: 0; z-index: 1; position: relative">
    <%- include('../includes/pagenav.ejs') %>
    <div class="container">
      <%
        if(cnt) {
      %>
      <div class="row">
        <div class="col">
          <h3 style="text-align:center;">ข้อที่ยังไม่ได้ทำ</h3>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ชุดที่</th>
                <th scope="col">ข้อที่</th>
              </tr>
            </thead>
            <tbody>
              <%
                ex.forEach((i, i1) => {
                  i.forEach((j, j1) => {
                    if(j1 == 0) j1 = ex[i1][j1];
              %>
              <tr>
                <td><%= i1 %></td>
                <td><%= j1 %></td>
              </tr>
              <%
                  });
                });
              %>
            </tbody>
          </table>
        </div>
      </div>
      <%
        }
        else {
      %>
      <div class="row">
        <div class="col">
          <h3 style="text-align:center;">ทบทวนคำตอบอีกครั้ง</h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p style="text-align:center;">ถ้าพร้อมแล้วกดส่งได้เลย</p>
        </div>
      </div>
      <div class="row">
        <div class="col" style="text-align:center;">
          <form method="post" action="/submit">
            <button type="submit" class="btn btn-danger">ส่ง (ไม่สามารถกลับมาแก้ไขได้)</button>
          </form>
        </div>
      </div>
      <%
        }
      %>
    </div>
    <%- include('../includes/footer.ejs'); %>
    <script src="/normal-bundle.js"></script>
    <script type="text/javascript" defer>
      window.onload = function() {
        Swal.mixin({
          confirmButtonText: 'OK',
        }).queue([
        <% if (alert.error) alert.error.forEach((e) => { %>
          {type: 'error', title: '<%= e %>'},
        <% }); 
        if (alert.success) alert.success.forEach((e) => { %>
          {type: 'success', title: '<%= e %>'},
        <% }); %>
        ]);
      }; // https://stackoverflow.com/a/807895/4468834
    </script>
  </body>
</html>
