<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ค่ายเส้นทางสู่หมอศิริราชครั้งที่ 21</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" /> -->
    <link rel="stylesheet" href="/css/home-sass.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.css" integrity="sha256-LWdHSKWG7zv3DTpee8YAgoTfkj3gNkfauF624h4P2Nw=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.css" integrity="sha256-2bAj1LMT7CXUYUwuEnqqooPb1W0Sw0uKMsqNH0HwMa4=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/default-skin/default-skin.min.css" integrity="sha256-Q9bBMw/rHRRag46GDWY84J3elDNc8JJjKXL9tIC4oe8=" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="font/flaticon/flaticon.css">
    <style>
      @font-face {
        font-family: sukhumvit;
        src: url('/font/sukhumvit-set/SukhumvitSet-Medium.ttf');
      }
      @font-face {
        font-family: sukhumvit;
        src: url('/font/sukhumvit-set/SukhumvitSet-Bold.ttf');
        font-weight: bold;
      }

      :root {
        font-size: 1.2em;
        --nav-height: 95px;
        --banner-height: 120px;
      }
      
      body {
        font-family: sukhumvit;
      }

      .bar {
        display: none;
        height: 16px;
        width: 100%;
        background-color: var(--green);
        position: absolute;
        top: 0;
        left: 0;
        transition: background-color 0.2s ease;
        /* right: 0; */
      }
      .bar.transparent {
        background-color: transparent;
      }

      .banner {
        /* height: var(--banner-height); */
        
        overflow-x: hidden; /* https://stackoverflow.com/a/6433475/4468834 */
      }

      .register-card {
        position: absolute;
        bottom: calc(1/4 * (100vh - var(--nav-height) - var(--banner-height)));
        right: 2.5vw;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        padding: 20px;
        color: white;
        max-width: 250px;
        
        display: flex;
        flex-flow: column nowrap;
      }

      .carousel-item {
        height: calc(100vh - var(--banner-height)); /* https://stackoverflow.com/a/36570618/4468834 */
        overflow: hidden;
      }
      .carousel-item img {
        height: calc(100vh - var(--banner-height));
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
      } /* https://stackoverflow.com/a/19414020/4468834 */
      .carousel-control-next {
        left: 15%;
        right: auto;
      }

      #navbar {
        background-color: var(--gray);
        transition: background-color 0.2s ease;
        /* display: none;
        overflow-x: hidden;
        overflow-y: visible;
        padding-right: 100px; */
      }
      #navbar.transparent {
        /* visibility: hidden; */
        background-color: rgba(0, 0, 0, 0.5);
        
      }
      .navbar-brand {
        height: calc(var(--nav-height) - 8px - 8px);
      }
      .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 1.1em;
        padding-right: 1.1em;
        color: var(--white);
        transition: background-color 0.2s ease;
      }
      .transparent.navbar-expand-lg .navbar-nav .nav-link {
        color: var(--white);
      }

      .transparent .nav-pills .show > .nav-link {
        background-color: transparent;
      }

      .circle-crop {
        overflow: hidden;
        border-radius: 50%;
      }

      .middle img{
        position: absolute;
        top: 0;
        left: -9999px;
        right: -9999px;
        margin: auto;
      }

      i {
        color: var(--green);
      }
      i.flaticon-arrow {
        display: none;
      }
      [class^="flaticon-"]::before {
        margin-left: 0px !important;
      }

      .icon::before {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        margin-right: 0.75rem;
        -webkit-font-smoothing: antialiased;
        color: var(--green);
      }
      .call::before {
        font-family: "Flaticon";
        content: "\f100";
      }
      .mail::before {
        font-family: "Flaticon";
        content: "\f101";
      }
      .fb::before {
        font-family: "Flaticon";
        content: "\f104";
      }

      footer {
        background-color: var(--gray);
      }
      footer h1, footer h2, footer h3, footer h4, footer h5, footer h6, footer p, footer span {
        color: white;
      }
      #right {
        display: none;
      }

      a.anchor {
        display: block;
        position: relative;
        top: calc(0px - var(--nav-height));
        visibility: hidden;
        /* height: 0; */
      } /* https://stackoverflow.com/a/13184714/4468834

      .swal2-container {
        overflow-y: scroll !important;
        height: 101vh !Important;
      } */

      @media only screen and (min-width: 768px) {
        i.flaticon-arrow {
          display: initial;
        }
        i.flaticon-arrow-down-sign-to-navigate {
          display: none;
        }
        #right {
          display: initial;
        }
      }

      @media only screen and (min-width: 992px) {
        #navbar {
          /* display: flex; */
          visibility: initial;
        }
        .bar {
          display: initial;
        }
        .navbar-expand-lg .navbar-nav .nav-link {
          padding-top: 50px;
          margin-top: -50px;
          /* font-size: smaller; */
        }
        #navbar.transparent {
          visibility: initial;
        }
        
      }

      @media only screen and (min-width: 1200px) {
        .navbar-expand-lg .navbar-nav .nav-link {
          font-size: inherit;
        }
      }
    </style>
  </head>
  <body data-spy="scroll" data-target="#navbar" data-offset="1">
    <!-- fb initiate code -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&autoLogAppEvents=1&version=v3.3&appId=424671731062002"></script>

    <nav id="navbar" class="transparent navbar fixed-top navbar-expand-lg navbar-light">
      <a class="nav-link" href="#shownav" style="display: none;"></a>
      <a class="nav-link" href="#top" style="display: none;"></a>
      <div class="transparent bar"></div>
      <a class="ml-4 mr-4 navbar-brand" href="#top">
        <img src="https://storage.googleapis.com/simc-web.appspot.com/public/web/textLogo.png" alt="Logo" style="width: 160px;"/>
        <div class="debug" style="width: 0; position: relative; top: -1000px;"></div>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="w-100 nav nav-pills navbar-nav" style="padding-top: 25px;">
          <div class="col px-0"></div>
          <li class="nav-item">
            <a class="nav-link" href="#about">เกี่ยวกับค่าย</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#photos">บรรยากาศในค่าย</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#terms">ระเบียบการ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#register">ลงทะเบียน</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#info">ข้อมูลคณะ</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="#contact">ติดต่อเรา</a>
          </li>
          <div class="col px-0"></div>
          <%
            if (!user) {
          %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="login" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              เข้าสู่ระบบ
            </a>
            <div class="dropdown-menu" aria-labelledby="login">
              <form class="px-4 py-3" action="/login" method="post" autocomplete="off">
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="email" name="email">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password" name="password">
                </div>
                <button type="submit" class="btn btn-primary">เข้าสู่ระบบ</button>
              </form>
            </div>
          </li>
          <%
            } else {
          %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="logout" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ผู้ใช้
            </a>
            <div class="dropdown-menu" aria-labelledby="logout">
              <h6 class="dropdown-header"><%= user.get('email') %></h6>
              <a class="dropdown-item" href="/logout">ออกจากระบบ</a>
            </div>
          </li>
          <% } %>
          <div class="col px-0"></div>
        </ul>
      </div>
    </nav>
    <a class="anchor" id="top"></a>
    
    <div id="carousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://storage.googleapis.com/simc-web.appspot.com/<%= carousel[0].name %>" class="d-block" alt="pic1">
          <div class="carousel-caption d-none d-md-block"></div>
        </div>
        <div class="carousel-item">
          <img src="https://storage.googleapis.com/simc-web.appspot.com/<%= carousel[1].name %>" class="d-block" alt="pic2">
          <div class="carousel-caption d-none d-md-block"></div>
        </div>
        <div class="carousel-item">
          <img src="https://storage.googleapis.com/simc-web.appspot.com/<%= carousel[2].name %>" class="d-block" alt="pic3">
          <div class="carousel-caption d-none d-md-block"></div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <div class="register-card">
        <h4>ค่ายเส้นทางสู่หมอ<br>ศิริราชครั้งที่ 21</h4>
        <hr class="w-100" style="border-top: 1px solid rgba(255, 255, 255, 0.2);"/>
        <p>
          21<sup>st</sup> Siriraj Medical Camp
        </p>
        <div class="justify-content-end" style="display: flex; flex-flow: column nowrap; flex-grow: 1">
          <div class="col-auto align-self-center">
            <%
              if (!user) {
            %>
                <a class="btn btn-primary" href="/register">ลงทะเบียนเข้าค่าย</a>
            <%
              } else if (!user.get('done')) {
            %>
                <a class="btn btn-primary" href="/exam">ทำข้อสอบ 📝</a>
            <%
              } else {
            %>
                <p>เสร็จเรียบร้อยแล้วจ้าา รอฟังประกาศผลได้เลย 😃</p>
            <%
              }
            %>
          </div>
        </div>
      </div>
    </div>
    <a class="anchor" id="shownav"></a>
    <div class="banner">
      <img src="https://storage.googleapis.com/simc-web.appspot.com/public/web/banner.png" alt="banner" style="height: calc(var(--banner-height) + 40px);"/>
    </div>

    <a class="anchor" id="about"></a>
    <div class="container">
      <br><br><br><br>
      <div class="row justify-content-center">
        <div class="col-auto">
          <h1 style="">เกี่ยวกับ<span class="ml-2 px-2 py-2" style="color: white; background-color: var(--green); border-radius: 5px;">ค่าย</span></h1>
        </div>
      </div>
      <br><br>
      <div class="row justify-content-center">
        <div class="col-auto">
          <p>ค่ายเส้นทางสู่หมอศิริราช เป็น ค่ายที่มีวัตถุประสงค์ในการแนะแนวนักเรียนระดับชั้น มัธยมศึกษาตอนปลาย ที่มีความสนใจในวิชาชีพแพทย์ โดยค่ายนี้จะมีกิจกรรมที่ทำให้น้องๆ มีข้อมูลมากขึ้นว่าการเป็นแพทย์นั้น ต้องเรียนอะไร ต้องผ่านอะไรกันบ้างในโรงเรียนแพทย์ศิริราชแห่งนี้ บลาๆๆ
          </p>
        </div>
      </div>
      <br><br><br><br><br><br>
    </div>
    <a class="anchor" id="photos"></a>
    <!-- <div style="height: 0; width: 100%; position: relative;" class="middle">
      <img src="imgs/photos-bg.png" alt="..." style="width: 100%;">
    </div> -->
    <div class="container">
      <div class="row" id="gallery">
      <%
        let styles = [
          '',
          'margin-top: 10em;',
          '',
          'margin-top: -5em;',
          'margin-top: 4em;',
          'margin-top: -5em;',
        ];
        let classes = [
          'm-3',
          '',
          'm-3',
          '',
          '',
          '',
        ];
        photos.forEach((file, i) => {
      %>
        <div class="col-6 col-md-4 pb-2">
          <div class="circle-crop <%= classes[i] %>" style="<%= styles[i] %>">
            <img src="https://storage.googleapis.com/simc-web.appspot.com/<%= file.name %>" alt="<%= file.name %>" style="width: 100%; cursor: pointer;" onclick="pswp(<%= i %>);"/>
          </div>
        </div>
      <%
        });
      %>
      </div>
    </div>
    <a class="anchor" id="terms"></a>
    <div class="container">
      <br>
      <div class="row" style="">
        <div class="col-12 col-md mb-2">
          <div class="card text-center h-100">
            <div class="card-body">
              <h5 class="card-title">วันและเวลา</h5>
              <p class="card-text"><span style="color: var(--green);">16 - 17</span> พฤษจิกายน 2562 (2 วัน)</p>
            </div>
            <div class="card-footer text-muted p-1">
              <span style="font-size: small">*สำหรับปีนี้ไม่มีการค้างคืน ไปกลับค่ายด้วยตนเองทั้งสองวัน</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-md mb-2">
          <div class="card text-center h-100">
            <div class="card-body">
              <h5 class="card-title">สถานที่</h5>
              <p class="card-text"><span style="color: var(--green);">คณะแพทยศาสตร์ศิริราชพยาบาล</span> จ.กรุงเทพมหานคร</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md mb-2">
          <div class="card text-center h-100">
            <div class="card-body">
              <h5 class="card-title">คุณสมบัติผู้สมัคร</h5>
              <p class="card-text">ต้องเป็นนักเรียนที่กำลังศึกษาอยู่ในระดับชั้น<span style="color: var(--green);">มัธยมศึกษาตอนปลาย</span></p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row justify-content-center">
        <div class="col-auto">
          <h5 style="text-align: center; color: var(--green);">ค่าใช้จ่ายในการเข้าร่วม</h5>
          <p class="text-muted" style="font-size: 90%; text-align: center;">*หากได้รับคัดเลือกให้เป็นผู้มีสิทธิ์เข้าค่าย</p>
          <h2 style="text-align: center;">600 บาท</h2>
        </div>
      </div>
    </div>
    <br>
    <a class="anchor" id="register"></a>
    <div class="w-100" style="background-color: #B8F7D3;">
    <br>
      <div class="container">
        <div class="row justify-content-center mb-4">
          <div class="col-auto">
            <h4 style="color: var(--green);">อยากเข้าค่ายเส้นฯ ต้องทำอย่างไร</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-3" style="text-align: center;">
            <h5 style="color: var(--green);">1</h5>
            <p><b style="color: var(--green);">คลิก</b>ปุ่มด้านล่างเพื่อลงทะเบียน</p>
            <a class="btn btn-primary" href="/register">ลงทะเบียนเข้าค่าย</a>
          </div>
          <div class="col-12 col-md align-self-center my-3" style="text-align: center;">
            <i class="flaticon-arrow"></i>
            <i class="flaticon-arrow-down-sign-to-navigate"></i>
          </div>
          <div class="col-12 col-md-3" style="text-align: center;">
            <h5 style="color: var(--green);">2</h5>
            <p class="mb-0">เข้าระบบเพื่อ<b style="color: var(--green);">ทำข้อสอบ</b>เก็บคะแนนสำหรับประกอบการพิจารณาคัดเลือกเข้าค่าย</p>
          </div>
          <div class="col-12 col-md align-self-center my-3" style="text-align: center;">
            <i class="flaticon-arrow"></i>
            <i class="flaticon-arrow-down-sign-to-navigate"></i>
          </div>
          <div class="col-12 col-md-3" style="text-align: center;">
            <h5 style="color: var(--green);">3</h5>
            <p>หาก<b style="color: var(--green);">มีรายชื่อในประกาศ</b>ผู้มีสิทธิ์เข้าค่ายก็สามารถมาเข้าร่วมกิจกรรมของค่ายได้เลย</p>
          </div>
        </div>
      </div>
      <br>
    </div>
    <a class="anchor" id="contact"></a>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md 6">
          <h4 class="mb-4">ติดต่อเรา</h4>
          <p class="icon call mb-0">08x-xxxxxxx (พี่กไก่)</p>
          <p class="icon call">09x-xxxxxxx (พี่ขไข่)</p>
          <p class="icon mail mb-0">simcxxx@gmail.com</p>
          <p class="icon fb"><a href="https://www.facebook.com/simedicalcamp21st/" target="_blank">ค่ายเส้นทางสู่หมอศิริราชครั้งที่ 21</a></p>
        </div>
        <div class="col-12 col-md 6">
          <div class="fb-page" data-href="https://www.facebook.com/simedicalcamp21st/" data-tabs="" data-width="" data-height="" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/simedicalcamp21st/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/simedicalcamp21st/">ค่ายเส้นทางสู่หมอศิริราช ครั้งที่ 21</a></blockquote></div>
        </div>
      </div>
    </div>
    <br>
    <footer>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-8">
            <h5>คณะแพทยศาสตร์ศิริราชพยาบาล มหาวิทยาลัยมหิดล</h5>
            <br>
            <p>2 ถนนวังหลัง แขวงศิริราช เขตบางกอกน้อย กรุงเทพฯ 10700 โทร. 02-419-7000</p>
          </div>
          <div class="col-12 col-md pr-0 align-self-center" style="text-align: center;">
            <a class="btn btn-primary" style="background-color: #68796F; border-color: #68796F;" href="https://www.si.mahidol.ac.th/" target="_blank">ข้อมูลเพิ่มเติมเกี่ยวกับคณะ</a>
          </div>
        </div>
      </div>
      <hr style="border-top: 1px solid rgba(255, 255, 255, 0.2)">
      <div class="container">
        <div class="row" style="position: relative;">
          <span class="text-muted">Copyright © 2019 SIMC. All rights reserved.</span>
          <span id="right" class="text-muted" style="position: absolute; right: 0;">designed by GUITARsuk, Nonie.9</span>
        </div>
      </div>
      <br>
    </footer>
    </div>
    
    <div style="display: none;">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a> messages.attribution.is_licensed_by <a href="http://creativecommons.org/licenses/by/3.0/"     title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    <div style="display: none;">Icons made by <a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a> messages.attribution.is_licensed_by <a href="http://creativecommons.org/licenses/by/3.0/"     title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    

    <!-- Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loginModalLabel" style="margin-top: 0;">เข้าสู่ระบบ</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><i class="fas fa-times"></i></span>
            </button>
          </div>
          <form id="loginForm" method="post" action="/login">
            <div class="modal-body">
              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label for="emailInput">อีเมล</label>
                    <input type="email" class="form-control" id="emailInput" name="email" aria-describedby="emailHelp" placeholder="อีเมล" required autofocus>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label for="passwordInput">รหัสผ่าน</label>
                    <input type="password" class="form-control" id="passwordInput" name="password" aria-describedby="passwordHelp" placeholder="รหัสผ่าน" required>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">เข้าสู่ระบบ</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- pswp -->
    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <!-- Background of PhotoSwipe. It's a separate element as animating opacity is faster than rgba(). -->
      <div class="pswp__bg"></div>

      <!-- Slides wrapper with overflow:hidden. -->
      <div class="pswp__scroll-wrap">
        <!-- Container that holds slides. PhotoSwipe keeps only 3 of them in the DOM to save memory.
          Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <!--  Controls are self-explanatory. Order can be changed. -->
            <div class="pswp__counter"></div>

            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
            <!-- <button class="pswp__button pswp__button--share" title="Share"></button> -->
            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

            <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
            <!-- element will get class pswp__preloader--active when preloader is running -->
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div> 
          </div>

          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" integrity="sha256-fTuUgtT7O2rqoImwjrhDgbXTKUwyxxujIMRIK7TbuNU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.js" integrity="sha256-ePwmChbbvXbsO02lbM3HoHbSHTHFAeChekF1xKJdleo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe-ui-default.min.js" integrity="sha256-UKkzOn/w1mBxRmLLGrSeyB4e1xbrp4xylgAWb3M42pU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.js" integrity="sha256-7OUNnq6tbF4510dkZHCRccvQfRlV3lPpBTJEljINxao=" crossorigin="anonymous"></script>
    <script type="text/javascript" defer>
      $(() => {
        let cnt = 0;
        let chk = () => {
          if ($(this).scrollTop() < $('#shownav').offset().top) {
            $('#navbar').addClass('transparent');
            $('.bar').addClass('transparent');
            if (!$('.debug').is(':animated') && cnt < 3) {
                $('.debug').animate({
                left: '+=1px',
                top: '0px',
              }, 200); // debug for re-rendering in iOS
              cnt++;
            }
            // alert("add");
          }
          else {
            cnt = 0;
            $('#navbar').removeClass('transparent');
            $('.bar').removeClass('transparent');
            // alert("remove");
          }
        }
        $(window).scroll(chk);
        chk();
        // setInterval(chk, 100);

        // Every time a modal is shown, if it has an autofocus element, focus on it.
        $('.modal').on('shown.bs.modal', function () {
          $(this).find('[autofocus]').focus();
        });

        // Add slideDown animation to Bootstrap dropdown when expanding.
        $('.dropdown').on('show.bs.dropdown', function() {
          $(this).find('.dropdown-menu').first().stop(true, true).slideDown();
        });

        // Add slideUp animation to Bootstrap dropdown when collapsing.
        $('.dropdown').on('hide.bs.dropdown', function() {
          $(this).find('.dropdown-menu').first().stop(true, true).slideUp();
        }); // https://stackoverflow.com/a/19339162/4468834

        $('#carousel').carousel({
          interval: 2000,
          pause: false,
          ride: 'carousel',
        });

        $('.nav-link, .navbar-brand, .new-button').click(function(e) {
          e.preventDefault();
          var sectionTo = $(this).attr('href');
          $('html, body').animate({
            scrollTop: $(sectionTo).offset().top
          }, 400);
        });
      });

      let pswp = index => {
        // build items array
        var items = [
          <%
          photos.forEach((file, i) => {
          %>
          {
            src: 'https://storage.googleapis.com/simc-web.appspot.com/<%= file.name %>',
            msrc: 'https://storage.googleapis.com/simc-web.appspot.com/<%= file.name %>',
            w: 900,
            h: 900,
            $el: $('#gallery img:eq(<%= i %>)'),
          },
          <%
          });
          %>
        ];

        // define options (if needed)
        var options = {
          index,
          showHideOpacity: true,
          getThumbBoundsFn: function (index) {
            // See Options->getThumbBoundsFn section of docs for more info
            var thumbnail = items[index].$el[0],
                pageYScroll = window.pageYOffset || document.documentElement.scrollTop,
                rect = thumbnail.getBoundingClientRect();

            return {x:rect.left, y:rect.top + pageYScroll, w:rect.width};
          },
        };

        // Initializes and opens PhotoSwipe
        let gallery = new PhotoSwipe(document.querySelectorAll('.pswp')[0], PhotoSwipeUI_Default, items, options);
        gallery.init();
      }

      window.onload = function() {
        Swal.mixin({
          confirmButtonText: 'OK',
        }).queue([
        <% if (alert.error) alert.error.forEach((e) => { %>
          {type: 'error', title: '<%= e %>'},
        <% }); 
        if (alert.success) alert.success.forEach((e) => { %>
          {type: 'success', title: '<%= e %>'},
        <% }); %>
          /* {
            title: 'ทพจร!',
            text: 'Modal with a custom image.',
            imageUrl: 'https://cdn.shopify.com/s/filesfiles/1/2040/0303/products/Adorable_Cute_Kawaii_Shiba_Inu_Fox_Playmates_Cartoon_-_Tackle_694148798_600x.jpg?v=1499636089',
            imageWidth: 300,
            imageHeight: 271,
            imageAlt: 'Custom image',
            html: 'I will close in <strong></strong> seconds.',
            timer: 3000,
            onBeforeOpen: () => {
              timerInterval = setInterval(() => {
                Swal.getContent().querySelector('strong')
                  .textContent = parseInt(Swal.getTimerLeft()/1000);
              }, 100)
            },
            onClose: () => {
              clearInterval(timerInterval);
            },
          }, */
        ]);
      };
    </script>
  </body>
</html>